:root {
  --green1: #ff5252;
  --green2: #ff8a65;
  --green3: #ffccbc;
  --beige: white;
  --borderradius: 5px;
}

footer {
  background-color: var(--green2);
  padding: 20px;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: 75px;
  bottom: 0;
  width: 100%;
}

footer div {
  display: flex;
  align-items: center;
}

footer img {
  height: 30px;
  margin-left: 10px;
  margin-bottom: 16px;
}

.cardmrg {
  margin: 10px;
}

.cardwidh {
  margin: auto;
  padding: 5px;
  margin-bottom: 100px;
}

.contact-form {
  background-color: var(--green2);
  padding: 10px 20px;
  border: 1px solid var(--green2);
  border-radius: var(--borderradius);
  margin-bottom: 100px;
}

.contact-form h2 {
  color: var(--beige);
}

.contact-form label {
  display: block;
  margin-bottom: 5px;
  color: var(--beige);
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.contact-form button {
  padding: 10px 20px;
  background-color: var(--green1);
  color: var(--beige);
  border: none;
  border-radius: var(--borderradius);
  cursor: pointer;
}

.contact-form button:hover {
  background-color: var(--green3);
}

.contact-button {
  text-align: center;
}

.destinationAlignImg {
  justify-content: space-between;
}

.marginextra {
  width: 80%;
  margin: auto;
  margin-bottom: 100px;
}

.marginlogo {
  margin-left: 10px;
}

.nav-link {
  color: black;
}

.nl {
  margin-top: 100px;
  margin-left: 50px;
}

.photogallery {
  margin-bottom: 100px;
}

.post {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  border: var(--green1) solid 0px;
  border-radius: var(--borderradius);
}

.post img {
  width: 300px;
  max-height: 168px;
}

.postBlogImg {
  margin-right: 30px;
}

.postDestinationsImg {
  margin-left: 30px;
}

.post div {
  flex: 1;
}

.postBlogText {
  margin-right: 50px;
}

.postDestinationsText {
  margin-left: 50px;
}

.post li {
  list-style: none;
  padding-bottom: 10px;
}
.post h2 {
  font-weight: bold;
  text-align: left;
}

.post h2,
.post p {
  margin-top: 10px;
}
.read-more {
  padding: 5px 10px;
  background-color: var(--green1);
  color: var(--beige);
  border: none;
  cursor: pointer;
  border-radius: var(--borderradius);
}

.read-more:hover {
  background-color: var(--green3);
}
